.cardFlipSection {
  position: relative;
  height: 200vh;
  width: 100%;
  z-index: 10;
  margin: 0;
  padding: 0;
  padding-top: 40vh;
  background: #131313;
}

.container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
}

.cardsWrapper {
  padding-top:20vh;
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
  opacity: 1;
  perspective: 800px;
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
}

.cardsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
}

.card {
  position: absolute;
  opacity: 0;
  will-change: transform;
  transform-style: preserve-3d;
  top: 50%;
  margin: 0;
  padding: 0;
  border-radius: 1rem;
  overflow: visible;
}

/* 1번 카드: 중앙 */
.cardsContainer > .card:nth-child(1) {
  left: 50%;
}

.cardsGroup {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
}

/* 2번 카드 */
.cardsGroup > .card:nth-child(1) {
  left: 50%;
  transform: translate(-400px, -50%) translateZ(80px);
}

/* 3번 카드 */
.cardsGroup > .card:nth-child(2) {
  left: 50%;
  transform: translate(20px, -50%) translateZ(60px);
}

/* 4번 카드 */
.cardsGroup > .card:nth-child(3) {
  left: 50%;
  transform: translate(-500px, -50%) translateZ(40px);
}

/* 5번 카드 */
.cardsGroup > .card:nth-child(4) {
  left: 50%;
  transform: translate(-80px, -50%) translateZ(20px);
}

.cardInner {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  transform-origin: center center;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  overflow: visible;
}

.cardFace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.cardBack {
  transform: rotateX(180deg);
}

.cardImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border: 0;
}

