.contactSection {
  position: fixed;
  top: 0;
  left: -200vw;
  width: 100%;
  min-height: 100vh;
  background: #8840F4;
  color: #ffffff;
  z-index: 10;
  padding: 5.5rem;
  padding-bottom:10.5rem;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 586"><path d="M960 0L764.005 586H585.02L479.064 250.942L374.044 586H195.995L0 0H188.036L292.12 377.038L394.018 0H575.969L678.96 379.066L783.043 0H960Z" fill="white"/></svg>');
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 586"><path d="M960 0L764.005 586H585.02L479.064 250.942L374.044 586H195.995L0 0H188.036L292.12 377.038L394.018 0H575.969L678.96 379.066L783.043 0H960Z" fill="white"/></svg>');
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 29.4rem auto;
  -webkit-mask-size: 29.4rem auto;
}

:global(.onBody) .contactSection {
  position:relative;
}

.contactSection.onBrowser {
  left: 0;
}

.contactInner {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap:10rem;
  width: 100%;
  position: relative;
  z-index: 2;
}

.contactTitle {
  color: #FFF;
  font-family: Urbanist;
  font-size: clamp(6rem, 10vw, 10rem);
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: -0.4rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  margin-top:1.5rem;
}

.contactField {
  display: flex;
  padding: 1.625rem 0.25rem;
  align-items: center;
  border-bottom: 1px solid #692FBF;
  position: relative;
}

.contactLabel {
  color: #FFF;
  font-family: Urbanist;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
  min-width: 16rem;
}

.contactLabelMuted {
  color: #CEBFEA;
}

.contactLabelRow {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.contactIcon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.contactInputWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contactInput {
  background: transparent;
  border: none;
  color: #FFF;
  font-family: Urbanist;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: none;
  width: 100%;
}

.contactInput::placeholder {
  color: #CEBFEA;
  font-family: Urbanist;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contactError {
  display: flex;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  border-radius: 0.25rem;
  background: #B70000;
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 16rem;
  top: 0;
  color: #FFF;
  font-family: Urbanist;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.contactErrorIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.contactErrorIcon svg {
  display: block;
  width: 1rem;
  height: 1rem;
}

.contactButton {
  display: flex;
  height: clamp(3rem, 5vw, 5rem);
  padding: clamp(1rem, 1.3125vw, 1.3125rem) clamp(2rem, 16.25vw, 16.25rem);
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 0.625vw, 0.625rem);
  align-self: stretch;
  cursor: pointer;
  background: #3F1A77;
  color: #FFF;
  font-family: Urbanist;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border:0;
}

.contactInfo {
  display: flex;
  width: clamp(20rem, 40.5625vw, 40.5625rem);
  align-items: flex-start;
  gap: clamp(2rem, 10vw, 10rem);
}

.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #FFF;
  font-family: Urbanist;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contactLink {
  color: inherit;
  text-decoration: none;
}

.contactLink:hover {
  text-decoration: underline;
}

.contactIconList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap:1rem;
  margin-top:2rem;
}
.contactIconItem {
  width:2.5rem;
  height:2.5rem;
}

.contactIconLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.contactListTitle {
  color: #FFF;
  font-family: Urbanist;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contactFooter {
  position: absolute;
  left: 0;
  padding: 0 5.5rem;
  bottom: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 2;
  color: #FFF;
  font-family: Urbanist;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contactBalls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.contactBall {
  position: absolute;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: Urbanist;
  font-size: 3.4rem;
  font-weight: 900;
  text-transform: uppercase;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  user-select: none;
  width: 5.3125rem;
  height: 5.3125rem;
  z-index: 0;
}

.contactFooterLinks {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .contactSection {
    padding: 5rem 2rem;
    padding-bottom:10.5rem;
  }
}

@media (max-width: 768px) {
  .contactSection {
    padding: 5rem 1.4rem;
    min-height:100vh;
  }
  .contactTitle {
    font-family: Urbanist;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.15rem;
  }

  .contactFooter {
    flex-direction:column-reverse;
    gap: 0.38rem;
    align-items: flex-start;
    color: #CEBFEA;
    font-family: Urbanist;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: flex-start;
    padding:0 1.4rem;
    bottom:2.25rem;
  }
  .contactFooterLinks {
    flex-direction:column-reverse;
    gap:0.38rem;
  }
  .contactInnerWrapper {
    display: flex;
    width:100%;
    height:100%;
    align-items: center;
  }
  .contactInner {
    flex-flow: column;
    gap:2rem;
  }
  .contactInner > div {
    width:100%;
  }
  .contactForm {
    margin-top:2rem;
  }
  .contactField {
    padding:0;
    border-bottom:0;
    flex-flow: column;
    gap:0.5rem;
    align-items: flex-start;
  }
  .contactField + .contactField {
    margin-top:1.06rem;
  }
  .contactLabelRow {
    gap:0.25rem;
  }
  .contactIcon {
    width:1.25rem;
    height:1.25rem;
  }
  .contactLabel {
    font-size:1.25rem;
  }
  .contactInputWrapper {    
    padding:0.5rem 0;
    padding-left:1.5rem;
    position: relative;
    width:100%;
  }
  .contactInputWrapper::after {
    content: '';
    position: absolute;
    left:1.5rem;
    bottom:0;
    width:calc(100% - 1.5rem);
    height:1px;
    background: #7535D7;
  }
  .contactInput {
    font-size: 1rem;
  }
  
  .contactInput::placeholder {
    font-size: 1rem;
  }
  .contactError {
    left:1.5rem;
    top:auto;
    bottom:-2.3rem;
  }
  .contactButton {
    margin-top:2rem;
    height: 2.5rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  .contactInfo {
    flex-flow: column;
    gap:1.5rem;
    align-items: flex-start;
    width:100%;
  }
  .contactList {
    flex-direction: row;
    gap:1.12rem;
  }
  .contactLink {
    font-size: 1rem;
  }
  .contactListTitle {
    font-size: 1rem;
  }
  .contactIconList {
    margin-top:0.75rem;
    gap:0.5rem;
  }
  .contactIconItem {
    width:2rem;
  }
  .errorOn {
    padding-bottom:2.2rem;
  }
}
