.featureSection {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: clamp(3rem, 10vw, 10rem) clamp(1rem, 9vw, 9rem);
  background: #131313;
  display: flex;
  flex-direction: column;
  gap: clamp(4rem, 8vw, 8rem);
  z-index: 12;
}

.featureItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(2rem, 4vw, 4rem);
  min-height: clamp(0rem, 27.5vw, 27.5rem);
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.featureItem:first-child .graphicContainer {
  top: clamp(-40rem, -63vw, -63rem);
  right: clamp(0, 27vw, 27rem);
  opacity: 0;
}

.featureItem:nth-child(2) {
  padding-left: clamp(2rem, 35vw, 42rem);
}
.featureItem:nth-child(2) .graphicContainer {
  left: 0;
  right: auto;
}
.featureText {
  color: #585858;
  font-family: Urbanist, sans-serif;
  font-size: clamp(2rem, 3.5vw, 3.5rem);
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

.graphicContainer {
  top:0;
  width: clamp(13.75rem, 27.5vw, 27.5rem);
  height: clamp(13.75rem, 27.5vw, 27.5rem);
  position: absolute;
  right: clamp(1rem, 4.75vw, 4.75rem);
}

.featureScene {
  width: 100%;
  height: 100%;
}

.cubeScene {
  width: 100%;
  height: 100%;
}

.graphicVideo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  background: transparent;
  background-color: transparent;
}

@media (max-width: 768px) {
  .featureSection {
    padding:1.75rem 1.37rem;

  }
  .featureItem {
    flex-flow: column;
    gap: 2rem;
    padding-top: 15.2rem;
  }
  .graphicContainer {
    width: 13.75rem;
    height: 13.75rem;
  }
  .featureText {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    text-align: center;
  }
  .featureItem:nth-child(2) {
    padding-left: 0;
  }
  .featureItem:nth-child(2) .graphicContainer{
    left: 50%;
    transform: translateX(-50%);
  }
  .featureItem:nth-child(3) .graphicContainer{
    left: 50%;
    transform: translateX(-50%);
  }
}