.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  pointer-events: none;
  transform-origin: center center;
  opacity: 0;
  visibility: hidden;
}

.container .cardWrapper {
  pointer-events: auto;
}

.container .cardItem {
  pointer-events: auto;
}

.cardList {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .cardList {
    top:10%;
  }
}

.cardItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .cardItem {
    height:50vh;
  }
}

.cardItem > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  cursor: url('/main/btn_viewmore.png'), auto;
}

.cardItem:nth-child(1) {
  z-index: 8;
}

.cardItem:nth-child(2) {
  z-index: 7;
}

.cardItem:nth-child(3) {
  z-index: 6;
}

.cardItem:nth-child(4) {
  z-index: 5;
}

.cardItem:nth-child(5) {
  z-index: 4;
}

.cardItem:nth-child(6) {
  z-index: 3;
}

.cardItem:nth-child(7) {
  z-index: 2;
}

.cardItem:nth-child(8) {
  z-index: 1;
}

.cardWrapper {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  transform-origin: center bottom;
  cursor: url('/main/btn_viewmore.svg'), pointer;
}

@media (max-width: 768px) {
  .cardWrapper {
    width: 7.24563rem;
    height: 7.24563rem;
  }
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.cardItem:nth-child(4) .cardImage,
.cardItem:nth-child(6) .cardImage,
.cardItem:nth-child(7) .cardImage,
.cardItem:nth-child(8) .cardImage {
  transform: rotate(180deg);
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.60));
}

@media (max-width: 1024px) {
  .textContainer {
    top:34%;
    padding:0 2.2rem;
    width:100%;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.textLine {
  color: var(--primary-color, #8840F4);
  font-family: Urbanist, sans-serif;
  font-size: 6.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width:54.0625rem;
}

@media (max-width: 768px) {
  .textLine {
    max-width:30.0625rem;
    width:100%;
    font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
}

.textLine .uppercase {
  color: #FFF;
  font-family: Urbanist, sans-serif;
  font-size: 6.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 768px) {
  .textLine .uppercase {
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.customCursor {
  position: fixed;
  width: 8.25rem;
  height: 8.25rem;
  background-image: url('/main/btn_viewmore.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: auto;
  cursor: none;
  z-index: 1000;
  transform: translate(-50%, -50%);
  will-change: transform;
}
