.pathAnimationSection {
  position: relative;
  min-height: 100vh;
  padding: 3rem 1rem;
  z-index: 11;
  display: block;
  background: #131313;
}

@media (min-width: 48rem) {
  .pathAnimationSection {
    padding: 5rem 1rem;
  }
}

.pathTextContainer {
  margin-bottom: 3rem;
  position: relative;
  z-index: 2;
}

.pathText {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 6rem */
  margin: 0;
  margin-bottom: 10rem;
  filter: grayscale(1);
  opacity: 0.4;
  transition: filter 0.3s ease, opacity 0.3s ease;
}
.closePath {
  filter: grayscale(0);
  opacity: 1;
}

.pathText:last-child {
  margin-bottom: 0;
}

.pathTextBold {
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.pathTextBold::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 42.76625rem;
  height: 5.244rem;
  transform: translateY(-50%) rotate(-3.812deg);
  background-image: url('/main/bg_path01.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  z-index: -1;
}

.pathTextBold2 {
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.pathTextBold2::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 28.59219rem;
  height: 6.645rem;
  transform: translate(-9%, -50%)rotate(-1.453deg);
  background-image: url('/main/bg_path02.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  z-index: -1;
}

.pathTextBold3 {
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.pathTextBold3::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 69.05213rem;
  height: 6.33963rem;
  transform: translate(-2%, -30%)rotate(-0.191deg);
  background-image: url('/main/bg_path03.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  z-index: -1;
}

.pathContainer {
  height: 12rem;
}

@media (min-width: 48rem) {
  .pathContainer {
    height: 16rem;
  }
}

.svgPath {
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: visible;
}

.svg {
  width: 100%;
  height: 100%;
}

.path {
  fill: none;
  stroke: #E8430C;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.pathTitleContainer {
  margin-top: 28rem;
  position: relative;
}

.pathTextTitle {
  color: #FFF;
  font-family: Urbanist;
  font-size: 12.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.pathTextTitle strong {
  display: block;
  color: rgba(255, 255, 255, 0.20);
  text-align: center;
  /* text-shadow: 0 8px 7.8px rgba(0, 0, 0, 0.25); */
  font-family: Urbanist;
  font-size: 12.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 11.25rem */
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20));
  transition: background-image 0.3s ease;
}

.pathTextSubtitle {
  color: rgba(237, 237, 237, 0.20);
  text-align: center;
  margin-top:3rem;
  font-family: Urbanist;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 4.5rem */
  margin-top: 2rem;
}

.cubeContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27.5rem;
  height: 27.5rem;
  pointer-events: none;
  z-index: 1;
}

.cubeScene {
  width: 100%;
  height: 100%;
}
