.slotSection {
  width: 100%;
  height: 500vh;
  background: #0B0B0B;
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
}

:global(.onBody) .slotSection {
  padding-bottom: 0 !important;
}

.slotSectionInner {
  padding: 0 5.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.slotContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  position: relative;
  overflow: hidden;
  justify-items: center;
}

@media (max-width: 60rem) {
  .slotContainer {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  
  .slotColumn:first-child,
  .slotColumn:last-child {
    display: none;
  }
  
  .slotColumn:nth-child(2) {
    display: flex;
  }
}


.slotColumn {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;  
  width:31.6rem;
}

.singleSlot {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  position: relative;
}

.singleSlot:first-child {
}

.singleSlot:last-child {
}
.singleSlot:first-child .slotItem {
  width:17.4rem;
  transform: translateX(1rem);
}
.singleSlot:last-child .slotItem {
  width:14.2rem;
  transform: translateX(-1rem);
}
.slotItem {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17.7rem;
  width: 100%;
  contain: layout style paint;
}

.slotSVG {
  display: block;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}

.slotItem:nth-child(2) path {
  fill: #2C2C2C;
}

.slotItem:not(:nth-child(2)) path {
  fill: #141414;
}

.slot1_1 .slotItem:nth-child(1) svg,
.slot1_1 .slotItem:nth-child(4) svg,
.slot1_1 .slotItem:nth-child(7) svg,
.slot1_1 .slotItem:nth-child(10) svg,
.slot1_2 .slotItem:nth-child(3) svg,
.slot1_2 .slotItem:nth-child(6) svg,
.slot1_2 .slotItem:nth-child(8) svg,
.slot1_2 .slotItem:nth-child(9) svg,

.slot2_1 .slotItem:nth-child(1) svg,
.slot2_1 .slotItem:nth-child(3) svg,
.slot2_1 .slotItem:nth-child(7) svg,
.slot2_1 .slotItem:nth-child(8) svg,
.slot2_1 .slotItem:nth-child(9) svg,
.slot2_2 .slotItem:nth-child(3) svg,
.slot2_2 .slotItem:nth-child(5) svg,
.slot2_2 .slotItem:nth-child(10) svg,
.slot3_1 .slotItem:nth-child(3) svg,
.slot3_1 .slotItem:nth-child(5) svg,
.slot3_1 .slotItem:nth-child(6) svg,
.slot3_1 .slotItem:nth-child(10) svg,
.slot3_2 .slotItem:nth-child(1) svg,
.slot3_2 .slotItem:nth-child(4) svg,
.slot3_2 .slotItem:nth-child(7) svg,
.slot3_2 .slotItem:nth-child(8) svg {
  display: none;
}

.finalSVG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29.4rem;
  height: auto;
  z-index: 10;
  pointer-events: none;
}

.finalSVG svg {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .slotSectionInner {
    padding:0;
  }
  .slotColumn {
    width:19.75rem;
  }
  .singleSlot:first-child .slotItem {
    width:10.875rem;
    transform: translateX(0.65rem);
  }
  .singleSlot:last-child .slotItem {
    width:8.875rem;
    transform: translateX(-0.65rem);
  }
  .finalSVG {
    width:18.65rem;
  }
}