.container {
  /* GSAP pin 사용 */
  width: 100%;
  height: 100vh; /* 고정 높이로 3D 오브젝트 크기 유지 */
  pointer-events: none;
  background: transparent;
}

.canvas {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: transparent;
}
